.div1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 5px;
}
.title-name{
    text-align: center;
    font-weight: bolder;
    margin: 2px;
    margin-top: 5px;
}
.card {
    border: 1px solid rgba(0, 0, 0, 0.135);
    border-radius: 15px;
    text-align: center;
}
.weekDay-datePicker{
    margin-left: 5px;
}