

.all-header{
  display: flex;
  width: 105%;
  justify-content: space-between;
} 

.date-picker {
  margin: 0 0 15px 5%;
}

.select-picker {
  margin: 0 0 15px 5%;
}
.link-restore{
  margin-left: 5%;
}
.search-and-probnik{
  display: flex;
  justify-content: space-between;
}

.button-singIn{
  margin-top: 10px;
}

.recorded-for-coach{
  text-align: center;
}

